name: Continuous Integration

on:
  pull_request:
    branches: ['**']
  push:
    branches: master

jobs:
  test:
    runs-on: ubuntu-latest
    container: sbtscala/scala-sbt:eclipse-temurin-alpine-21.0.2_13_1.9.9_3.4.0
    steps:

      - name: Checkout current branch
        uses: actions/checkout@v4

      - name: Test
        run: sbt test

  format:
    runs-on: ubuntu-latest
    container: sbtscala/scala-sbt:eclipse-temurin-alpine-21.0.2_13_1.9.9_3.4.0
    steps:

      - name: Checkout current branch
        uses: actions/checkout@v4

      - name: Check Formatting
        run: sbt check
